
.overlay-container {
  position: relative;
}

.bg-img {
  width: 100%;
  display: block;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 89, 153, 0.8);
  pointer-events: none;
}

.content {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%; /* Make the content span the entire width */
}

.col-6 {
  flex: 1; /* Distribute width evenly between both columns */
}

.col-text1 {
  text-align: left;
  padding-left: 130px;
}

.col-text2 {
  padding-left: 50px;
  text-align: left;
  float: left;
}

.subs-box {
  width: 550px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
}

.subs-input {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
  transition: background-color 0.3s;
}

.subs-input:focus {
  background-color: #fff; /* Change background color when input is in focus (clicked) */
}

.subs-button {
  background: #fff;
  color: #075999;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.random {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
}

.footer-list {
  list-style-type: none; 
}

.footer-list li {
  margin-bottom: 10px; 
}

.footer-list i {
  margin-right: 15px; 
}

.random2 {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
}

.social {
  padding-left: 40px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color:#fff ;
  text-decoration: none;
}

.copyright {
  display: flex;
  text-align: center;
  padding-left: 450px;
}

.payment {
  display: flex;
  text-align: center;
  padding-left: 320px;
  font-size: 1.3em;
}

.payment i {
  padding-left: 10px;
}